.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Garamond", sans-serif, serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.button, .findGift__btn {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #F7941E;
  color: #F7941E;
  background-color: inherit;
  cursor: pointer;
}

.findGift__btn {
  padding: 15px 24px;
  color: #fff;
  background-color: #F7941E;
}

.logo {
  padding: 18px 0;
  font-family: "Homemade Apple";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #231F20;
  -webkit-animation-name: heartBeat;
          animation-name: heartBeat;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
}

.header__link {
  padding: 28px 0;
  color: #000;
}

.findGift {
  background-color: #f1f1f2;
}

.findGift__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.findGift__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.findGift__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.findGift__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.findGift__title {
  width: 433px;
  margin-bottom: 36px;
  font-size: 56px;
  font-weight: 600;
}

.findGift__text {
  width: 422px;
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 1.4;
}

.findGift__subject {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.40625;
}

.findGift__text-margin {
  margin-bottom: 35px;
}

.allPressent {
  padding: 94px 0;
}

.allPressent__title {
  margin-bottom: 23px;
  text-align: center;
  font-size: 32px;
}

.allPressent__subtitle {
  margin-bottom: 57px;
  text-align: center;
  line-height: 1.3333333333;
}

.allPressent__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.allPressent__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.allPressent__item:hover, .allPressent__item:focus {
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
}/*# sourceMappingURL=main.css.map */