@import '../utils/colors';

.allPressent{
    padding: 94px 0;
}

.allPressent__title{
    margin-bottom: 23px;

    text-align: center;
    font-size: 32px;
}

.allPressent__subtitle{
    margin-bottom: 57px;

    text-align: center;
    line-height:calc(24.5/18) ; 
}

.allPressent__list{
    display: flex;
    justify-content: center;
    gap:30px;
}

.allPressent__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: getColor('bg-box');

    &:hover,
    &:focus{
        box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
        background-color: getColor('secondary');
    }
}

.allPressent__box{
    width: 100%;
    padding: 24px 24px ;
}

.allPressent__holiday{
margin-bottom: 74px;

    font-size: 20px;
}

.allPressent__link{
    font-family: getFont('tertiary');
    font-size: 14px;
    line-height: calc(19/14);

    color: getColor('main');

    &:hover,
    &:focus{
      text-decoration: underline;
      text-decoration-color: getColor('accent');
    }
}


