
.findGift__title{
    width:433px;
margin-bottom: 36px;

font-size: 56px;
font-weight: 600;
}

.findGift__text{
    width: 422px;
    margin-bottom: 60px;

    font-size: 20px;
    line-height:calc(28/20);
}

.findGift__btn{
    @extend %isOrange;
}

.findGift__img{
    width: 50%;
}
