@import '../utils/fonts';
@import '../utils/colors';
// visually-hidden

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

//   Base layout

body {
    font-family:getFont("primary"), sans-serif , serif;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;

    color:getColor('main');
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul,ol,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}